@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #EAEAEA;
    padding: 0px;
}

h1 {
    margin-left: 1551px;
    color: #ffffff;
    font-size: 2.5em;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    font-optical-sizing: auto;
    font-style: normal;
}

article {
    color: gainsboro;
    font-size: 2em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    color: #080808;
    font-size: 1em;
    font-family: "Inter", sans-serif; font-weight: 400;
    font-style: normal;
    list-style: none;
    font-optical-sizing: auto;
    font-style: normal;
}

.encabezado {
    background-color: #131313;
    padding: 10px;
}

nav {
    border-color: #131313;
    border-width: 3mm;
    font-size: 2.5em;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: bold;
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0px 350px;
}

.emergente {
    display: inline-block;
    width: 460px;
    padding: 120px;
    padding-left: 700px;
    color: #000000;
    text-align: center;
    font-size: 2em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    color: #080808;
    font-size: 1em;
    font-family: "Inter", sans-serif; font-weight: 400;
    font-style: normal;
    list-style: none;
    font-optical-sizing: auto;
    font-style: normal;
    width: 460px;
}
